include .stepintochinese_config_master 
include README
include README.md
include CHANGES
include INSTALL
include LICENSE
include sic.ico
include stepintochinese.py
include stepintochinese-admin.desktop
include stepintochinese.desktop
recursive-include Flashcards *
recursive-include StepIntoChinese/Images *
recursive-include StepIntoChinese/Font *
include StepIntoChinese/sic.xml
include StepIntoChinese/README
include StepIntoChinese/LICENSE
