[Desktop Entry]
Name=StepIntoChinese
GenericName=Explore Chinese Language
GenericName[de]=Mathematisches Spiel ähnlich Scrabble
GenericName[ru]=Арифметическая игра Эрудит
Comment=Explore Chinese with over 26,000 words/concepts and 8,300 characters
Comment[ar]=لعبة مسلية لتعمل الحساب
Comment[bn]=অংক শেখার মজার খেলা
Comment[ca]=Un joc divertit per aprendre matemàtiques
Comment[cy]=Gêm hwyliog i ddysgu mathamateg
Comment[da]=Sjovt spil til at lære matematik
Comment[de]=Spaß Spiel zum Mathe lernen
Comment[el]=Διασκεδαστικό παιχνίδι εκμάθησης μαθηματικών
Comment[es]=Divertido juego para aprender matemáticas
Comment[et]=Lõbus matemaatika õppimise mäng
Comment[eu]=Matematika ikasteko jolas dibertigarria
Comment[fa]=بازی جالبی برای یادگیری ریاضی
Comment[fi]=Hauska peli matematiikan oppimiseen
Comment[fr]=Jeu pour apprendre les maths en s'amusant
Comment[gl]=Xogo divertido para aprender matemáticas
Comment[he]=משחק מהנה ללימודי מתמטיקה
Comment[hu]=Matematikát oktató játék
Comment[id]=Permainan menyenangkan untuk belajar matematika
Comment[is]=Góður leikur til að læra stærðfræði
Comment[it]=Gioco divertente per imparare la matematica
Comment[ja]=ゲームで楽しく数学を学ぶ
Comment[mk]=Забавна игра за учење математика
Comment[nb]=Artig spill for å lære matte
Comment[nl]=Leuk spel om te leren rekenen
Comment[nn]=Artig spel for å læra matte
Comment[pl]=Zabawna gra pomagająca w nauce matematyki
Comment[pt]=Jogo engraçado para ensinar matemática
Comment[pt_BR]=Jogo divertido para aprender matemática
Comment[ro]=Joc distractiv pentru învățarea matematicii
Comment[ru]=Весёлая игра для изучения математики
Comment[sc]=Jogu spassiosu po studiai sa matemàtiga
Comment[sk]=Výučba matematiky hrou
Comment[sl]=Zabavna igra za učenje matematike
Comment[sv]=Roligt program för matematikinlärning
Comment[tr]=Matematik öğrenmek için oyun
Comment[uk]=Весела гра для вивчення математики
Comment[vi]=Trò chơi thú vị để học toán
Comment[zh_CN]=在快乐的游戏中学习数学
Comment[zh_TW]=趣味數學遊戲
Exec=stepintochinese
Icon=stepintochinese
Terminal=false
Type=Application
Categories=Game;BoardGame;
